@media (prefers-reduced-motion: no-preference) {
  html {
    scroll-timeline: --page-scroll;
  }

  .animate {
    animation-timeline: view();
    animation-timing-function: cubic-bezier(0.65, 0.14, 0.14, 0.91);
    animation-delay: 20s;
  }

  .animate-out-up {
    animation-name: fadeOutUp;
    animation-range: exit -100%;
  }

  .animate-scroll-progress {
    animation: scrollProgress linear;
    animation-timeline: --page-scroll;
    transform-origin: 0 50%;
  }

  .animate-opacity {
    animation-name: opacity;
    animation-range: entry 10% cover 90%;
  }

  .animate-reveal {
    view-timeline-name: --reveal-element;
    view-timeline-axis: block;
    animation: linear reveal both;
    animation-timeline: --reveal-element;
    animation-range: entry 25% cover 50%;
  }

  .animate-in-and-out {
    animation: linear inAndOut;
    animation-timeline: view();
  }
}

@keyframes opacity {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes reveal {
  from {
    opacity: 0;
    clip-path: inset(45% 20% 45% 20%);
  }
  to {
    opacity: 1;
    clip-path: inset(0% 0% 0% 0%);
  }
}

@keyframes inAndOut {
  entry 0% {
    opacity: 0;
    transform: translateY(100%);
  }
  entry 180% {
    opacity: 1;
    transform: translateY(0);
  }

  exit 0% {
    opacity: 1;
    transform: translateY(0);
  }
  exit 100% {
    opacity: 0;
    transform: translateY(-100%);
  }
}

@keyframes scrollProgress {
  from {
    transform: scaleX(0);
  }
  to {
    transform: scaleX(1);
  }
}

@keyframes fadeOutUp {
  from {
    opacity: 1;
    transform: translateY(0);
  }
  to {
    opacity: 0;
    transform: translateY(-50%);
  }
}
