{{#if isTextarea}}
<div class="lg:col-span-2 grid gap-2">
  <label for="{{ name }}" class="sr-only">{{label}}</label>
  <textarea
    class="placeholder:text-white/75 focus:placeholder:text-white border-b border-white/25 focus:outline-none focus:border-white"
    id="{{ name }}"
    name="{{ name }}"
    rows="{{ rows }}"
    required
    placeholder="{{ placeholder }}"
  ></textarea>
</div>
{{else}}
<div class="grid gap-2">
  <label for="{{ name }}" class="sr-only">{{label}}</label>
  <input
    class="placeholder:text-white/75 focus:placeholder:text-white border-b border-white/25 pb-4 focus:outline-none focus:border-white"
    type="text"
    id="{{ name }}"
    name="{{ name }}"
    required
    placeholder="{{ placeholder }}"
  />
</div>
{{/if}}
