<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<!-- here is your favicon. You can update it in the public/images folder -->
<link rel="icon" href="/images/favicon.png" type="image/png" />
<!-- this is your custom font. Update/remove this if you want to use a different font-->
<link
  href="https://api.fontshare.com/v2/css?f[]=satoshi@1&display=swap"
  rel="stylesheet"
/>
<!-- here is your page title. It is passed in as the title prop when you call the partial -->
<title>
  {{#if title}}{{ title }}{{else}}HTML Tailwind V4 Personal Portfolio{{/if}}
</title>
<link rel="stylesheet" href='{{resolve-from-root "../styles/main.css"}}' />
