<section
  id="about"
  aria-labelledby="about-title"
  class="scroll-mt-20 border-b dark:bg-gray-950 dark:text-gray-300"
>
  <div class="container">
    <div class="lg:border-x">
      {{> section-title id="about-title" title="About Me" }}
      <div class="lg:max-w-screen-md lg:mx-auto py-14 lg:py-20">
        <p class="!m-0 text-3xl lg:text-4xl text-gray-950 dark:text-gray-200">
          I’m a software developer with a strong CS foundation, passionate about building scalable, user-focused applications.
          <span class="animate animate-opacity text-gray-600 dark:text-gray-400">
            I enjoy turning complex ideas into clean, efficient code with a focus on design, performance, and usability.
          </span>
        </p>
        {{> section-experience }}
      </div>
    </div>
  </div>
</section>
